<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>Morty</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />

    <style>
        @import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

        body {
          font-family: "lora", sans-serif;
          background-color: white;
          line-height: 17px;
          margin: 7%;
        }

        h2 {
        font-family: "lora", sans-serif;
        border-bottom: none;
        line-height: 10px;
        }

        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        }

        /* unvisited link */
        a:link {
          color: black;
          font-weight: bold;
          text-decoration: none;
        }

        /* visited link */
        a:visited {
          color: black;
          font-weight: bold;
          text-decoration: none;
        }

        /* mouse over link */
        a:hover {
          color: gray;
          font-weight: bold;
          text-decoration: none;
        }

        /* selected link */
        a:active {
          color: black;
          font-weight: bold;
          text-decoration: none;
        }

    </style>
  </head>

  <body>

	<h2>All Neighborhoods</h2>

  <% list = @neighborhoods.sort_by {|neighborhood| neighborhood.rate}.reverse %>
	<% list.each do |neighborhood| %>
	    <li><%= neighborhood.title %> — <%= neighborhood.rate %>, <%= neighborhood.borough.name.to_s.gsub( /_/ , ' ') %></li>
	    <% end %><BR>

	<a href="/">Back</a>
  
  </body>
</html>