<head>
    <style>
    </style>
  </head>

  <body>

	<h2>All Neighborhoods</h2>

  <% list = @neighborhoods.sort_by {|neighborhood| neighborhood.rate}.reverse %>
	<% list.each do |neighborhood| %>
	    <li><%= neighborhood.title %> — <%= neighborhood.rate %>, <%= neighborhood.borough.name.to_s.gsub( /_/ , ' ') %></li>
	    <% end %><BR>

	<a href="/">Back</a>
  </body>
</html>