<!DOCTYPE html>
  <head>
    <style>
    </style>
  </head>

  <body>

    <% @fixed_name = @name.to_s.gsub( /_/ , ' ') %>
    <h2><%= @fixed_name %></h2>

    <p>Age-adjusted death rates per 100,000 population:</p>

      <ul>
      <% list = @borough_name.neighborhoods.sort_by {|neighborhood| neighborhood.rate}.reverse %>
      <% list.each do |neighborhood| %>
        <li><%= neighborhood.title %> — <%= neighborhood.rate %></li>
        <% end %>
      </ul><BR>

  <a href="/">Back</a><BR>
  <a href="/neighborhoods">Full list</a>
  
  </body>
</html>


