  <div class="container">

  <h1 class="my-4">What's the death rate for your New York neighborhood?
    <BR><small>Summary of Vital Statistics 2017 — City of New York</small>
  </h1>

    <div class="row">
      <div class="col-md-8" id="chartArea"><h3>Borough Averages</h3></div>
    </div>

  <div class="col-md-4">
        
        <h3 class="my-3"><a href="https://www1.nyc.gov/assets/doh/downloads/pdf/vs/2017sum.pdf">Death rates for New York City 2017 by neighborhood (Community District)</h3><br>

        <p>A neighborhood's death rate can say a lot about its quality of life — crime, poverty, employment rate, accessiblity to transportation, parks, healthy food and health care. What can be done to improve parity?</p>

        <h3 class="my-3">Click for neighborhoods:</h3>
        
        <ul>
          <li><p><a href="/Manhattan">Manhattan</a></p></li>
          <li><p><a href="/Bronx">Bronx</a></p></li>
          <li><p><a href="/Brooklyn">Brooklyn</a></p></li>
          <li><p><a href="/Queens">Queens</a></p></li>
          <li><p><a href="/Staten_Island">Staten Island</a></p></li>
          <li><p><a href="/neighborhoods">All Neighborhoods</a></p></li>
        </ul>
      </div>

  </div>

<script src="/js/chart.js"></script>


<script>
    let chartArea = d3.select("#chartArea")
    d3.csv("data.csv").then(showData)
    
    function write(text) {
        chartArea.append("div").text(text)
        }

    function showData(clients) {
        let max = d3.max(clients, 
            d => d.Rate)
        let scale = d3.scaleLinear()
            .range([0, 616])
            .domain([0, max])

        let join = chartArea.selectAll("div")
            .data(clients)

        join.enter()
            .append("div")
            .text(d => d.Name + ": " 
                + scale(d.Rate))
            .style("background-color", "gray")
            .style("margin", "8px")
            .style("padding", "5px")
            .style("color", "white")
            .style("width", d => scale(d.Rate))
        }
    </script>