<html>

  <head>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

        body {
          font-family: "lora", sans-serif;
          background-color: white;
          line-height: 17px;
          margin: 5%;
        }

        .wrapper {
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none;
         }

        .page-info {
          text-align: center;
        }

        .content {
          width: 100%;
        }

        .flex-container {
          display: flex;
          background-color: silver;
          clear: both;
          width: 100%;
        }

        .flex-container > div {
          background-color: white;
          margin: 10px;
          padding: 20px;
        }

        #container {
          width: 65%;
        }

        h2 {
        border-bottom: none;
        line-height: 10px;
        }

        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        }

        /* unvisited link */
        a:link {
          color: black;
          font-weight: bold;
          text-decoration: none;
        }

        /* visited link */
        a:visited {
          color: black;
          font-weight: bold;
          text-decoration: none;
        }

        /* mouse over link */
        a:hover {
          color: gray;
          font-weight: bold;
          text-decoration: none;
        }

        /* selected link */
        a:active {
          color: black;
          font-weight: bold;
          text-decoration: none;
        }

    </style>
  </head>

  <body>

    <div class="page-info">
      <h1>What's the death rate for your New York neighborhood?</h1>
      <h3>Summary of Vital Statistics 2017 — City of New York</h3>
      <h3><a href="https://www1.nyc.gov/assets/doh/downloads/pdf/vs/2017sum.pdf">Death rates for New York City 2017</a> by neighborhood (Community District)</h3><br>
    </div>
    
    <div class="content">
          <p>A neighborhood's death rate can say a lot about its quality of life — crime, poverty, employment rate, accessiblity to transportation, parks, healthy food and health care. What can be done to improve parity?</p><BR>
    </div>

    <div class="flex-container">
      <div id="nav">
        <p>Click for neighborhoods:</p>
        <ul>
           <li><h2><a href="/Manhattan">Manhattan</a></h2></li>
           <li><h2><a href="/Bronx">Bronx</a></h2></li>
           <li><h2><a href="/Brooklyn">Brooklyn</a></h2></li>
           <li><h2><a href="/Queens">Queens</a></h2></li>
           <li><h2><a href="/Staten_Island">Staten Island</a></h2></li>
           <li><h2><a href="/neighborhoods">All Neighborhoods</a></h2></li>
        </ul>
      </div>

      <div id="container"><h2>Borough Averages</h2></div>
    </div>

  </body>

  <script src="javascripts/d3.js"></script>

  <script>
    let container = d3.select("#container")
    d3.csv("data.csv").then(showData)

    function write(text) {
        container.append("div").text(text)
        }

    function showData(clients) {
        let max = d3.max(clients, 
            d => d.Rate)
        let scale = d3.scaleLinear()
            .range([0, 616])
            .domain([0, max])

        let join = container.selectAll("div")
            .data(clients)

        join.enter()
            .append("div")
            .text(d => d.Name + ": " 
                + scale(d.Rate))
            .style("background-color", "gray")
            .style("margin", "8px")
            .style("padding", "5px")
            .style("color", "white")
            .style("width", d => scale(d.Rate))
        }
    </script>

</html>