<div class="container">

  <header>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

    body {
      font-family: "lora", sans-serif;
      background-color: white;
    }

    .wrapper {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
     }

    .page-info {
      text-align: center;
    }

    .content {
      width: 100%;
    }


    .flex-container {
      display: flex;
      background-color: yellow;
      clear: both;
    }

    .flex-container > div {
      background-color: white;
      margin: 10px;
      padding: 20px;
    }

    .nav {
      width: 30%;
    }

    h2 {
    border-bottom: none;
    line-height: 12px;
    }

    /* unvisited link */
    a:link {
      color: black;
      font-weight: bold;
      text-decoration: none;
    }

    /* visited link */
    a:visited {
      color: black;
      font-weight: bold;
      text-decoration: none;
    }

    /* mouse over link */
    a:hover {
      color: gray;
      font-weight: bold;
      text-decoration: none;
    }

    /* selected link */
    a:active {
      color: black;
      font-weight: bold;
      text-decoration: none;
    }

    </style>
  </header>

  <div class="col-md-8 col-md-offset-2">

    <div class="page-info">
      <h1>What's the death rate for your New York neighborhood?</h1>
      <h3>Summary of Vital Statistics 2017 — City of New York</h3>
      <h3><a href="https://www1.nyc.gov/assets/doh/downloads/pdf/vs/2017sum.pdf">Death rates for New York City 2017</a> by neighborhood (Community District)</h3><br>
    </div>
    
    <div class="content">
          <p>A neighborhood's death rate can say a lot about its quality of life — crime, poverty, employment rate, accessiblity to transportation, parks, healthy food and health care. What can be done to improve parity?</p>

          <p>Click for rates by neighborhood:</p><BR>
    </div>

    <div class="flex-container">
      <div class="nav">
        <ul>
           <li><h2><a href="/Manhattan">Manhattan</a></h2></li>
           <li><h2><a href="/Bronx">Bronx</a></h2></li>
           <li><h2><a href="/Brooklyn">Brooklyn</a></h2></li>
           <li><h2><a href="/Queens">Queens</a></h2></li>
           <li><h2><a href="/Staten_Island">Staten Island</a></h2></li>
           <li><h2><a href="/neighborhoods">All Neighborhoods</a></h2></li>
        </ul><BR>
      </div>

      <div class="chart"><h2>Chart</h2></div>
    </div>


  </div>
</div>

